body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brandIcon {
  position: absolute;
  left: 5vw;
  top: 200px;
  height: 11vh;
  z-index: 20;
}

.brandContanier {
  position: relative;
  display: flex;
  margin-left: 15px;
  justify-content: center;
  margin-top: 10px;
}

.brandRemainigText {
  position: absolute;
  right: 15px;
  padding: 5px;
  color: white;
  top: 30vh;
  background-color: rgba(29, 30, 28, 1);
  font-size: 14px;
  border: none;
  border-radius: 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
}

.transformDiv {
  top: 150px;
  transform: skewY(6deg);
  position: absolute;
  height: 40vh;
  max-width: 350px;
  border-radius: 10px;
  z-index: -1;
}

.HomePageContent {
  border: 1px solid rgba(236, 238, 239, 1);
  background-color: white;
  height: 60vh;
  max-width: 300px;
  border-radius: 10px;
  z-index: 10px;
}

.detailImageIcon {
  position: absolute;
  bottom: 40vh;
  height: 12vh;
  left: 4vh;
}

.detailRemaningText {
  position: absolute;
  right: 15px;
  padding: 5px;
  color: white;
  top: 300px;
  background-color: rgba(29, 30, 28, 1);
  font-size: 14px;
  border: none;
  border-radius: 20px;
  text-align: center;
}

.Navbar {
  display: flex;
  height: 14vh;
  bottom: 0;
  background-color: white;
  justify-content: space-between;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100vw;
  position: fixed;
  border: rgb(236, 238, 239) solid 1px;
}

.NavBarSearchButton {
  border: none;
  justify-content: flex-start;
  background-color: transparent;
  z-index: 10
}

.JoinButton {
  position: fixed;
  border: none;
  bottom: 5px;
  background-color: red;
  color: white;
  height: 60px;
  width: 160px;
  border-radius: 50px;
  z-index: 10px;
}

.BrandScrollDiv {
  border-radius: 10px;
  height: 36px;
  width: 105px;
  margin-left: 8px;
}